/MyFirstSparkApp/target/
/SyncSort/nbproject/private/
/SyncSort/dist/
/SyncSort/build/
/Ayush/ChatServerAS/target/
/DamanM/ChatServerDM/target/
/CourseCatalog/target/
/GM/ChatServer/target/
/GM/SyncSort/nbproject/private/
/GM/SyncSort/build/
/GM/SyncSort/dist/
/ServerFramework/target/
/ServerFramework - Copy/target/
/ServerFrameworkJDBC/target/
/SemRoomLiveFeed/SEMConsoleMaven/ConsoleWithWebsite/target/
/SemRoomLiveFeed/SEMConsoleMaven/ConsoleWebApp/target/
/SemRoomLiveFeed/SEMConsoleMaven/SemConsoleWebApp/target/
/FusorProject/app/JDBCFusorInit/nbproject/
/FusorProject/app/JDBCFusorInit/target/