/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2018, 7:45:11 PM
    Author     : jtyler
*/

.videoFeed {
    position: fixed;
    overflow: hidden;
    z-index: -100;
    background-color: cyan;
    width: 960px;
    height: 540px;
    margin-left: 7%;
    margin-top: 3%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gallery {
    float: right;
    position: inherit;
    overflow: hidden;
    background-color: red;
    width: 600px;
    height: 360px;
    margin-right: 3%;
    margin-top: 22%;
}

