/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2018, 7:45:11 PM
    Author     : jtyler
*/
body {
    background:url("../images/background.jpg");
    background-position: center;
}

.videoFeed {
    position: fixed;
    overflow: hidden;
    z-index: -100;
    background: url("../images/Offline.jpg") center;
    width: 960px;
    height: 540px;
    margin-left: 7%;
    margin-top: 4%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gallery {
    float: right;
    position: absolute;
    overflow: hidden;
    background-color: red;
    width: 600px;
    height: 360px;
    margin-left: 57%;
    margin-right: 3%;
    margin-top: 22%;
}
.webcamSwitch1 {
    position: fixed;
    margin-left: 7%;
    margin-top:39.1%;
}
.webcamSwitch2 {
    position: fixed;
    margin-left: 16%;
    margin-top:39.1%;
}

#table{
    position: absolute;
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    margin-top: 0px;
    padding-top: 0px;
    font-size: large;
}
#table ul{
    margin-top: 11px;
    list-style:none;
    position:relative;
    left:50%;
}

#table li{margin-left: 10px;margin-right:10px;float:left;position:relative;}/* ie needs position:relative here*/

#table a{
    text-decoration:none;
    float:left;
    text-align:center;
    white-space:nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:black;


    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;

}
#table a:hover{
    background-color: black;
    color:white;

    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear; 
}
#content{overflow:hidden}

.button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 1.5px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    padding-top: 20px;
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
.thing {
    position: absolute;
    margin-top: 660px;
    margin-left: 30px;
}

#stats {
    position: absolute;
    margin-left: 1120px;
    margin-top: 50px;
}