@import "material";

$blue: #00467f;
$gold: #eeb111;

$orange: #f88024;
$light-orange: rgba(248, 128, 36, .95);

$green: #b2bb1e;
$grey: #abba6b;
$teal: #00a2c5;
$purple: #7473a9;
$brown: #b2700e;
$light-blue: #8fc3ea;
$yellow: #ffe512;

$pink: #c6093b;
$light-pink: rgba(198, 9, 59, .95);

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

div.mdl-slider_title {
  padding: 0 20px;
  margin: 0 auto;
  min-height: 25px;

  .title {
    margin: 0;
  }
}

div.mdl-radio_container {
  margin: 0 auto;
  padding: 5px 20px;
}

div.box {

}

.mdl-layout__header {
  background-color: $blue;
}

div.banner {
  min-height: 50px;
  display: block !important;
  @extend .mdl-layout__header;
  background-color: white;
  a {
    text-decoration: none;
    color: white;
    height: 50px;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    &.lit {
      background: $light-pink;
      color: white;
      &:hover {
        background: $pink
      }
    }
    &.pe {
      background: $light-orange;
      color: white;
      &:hover {
        background: $orange;
      }
    }
    &.two {
      @media (min-width: 750px) {
        width: 50%;
        float: right;
      }
    }
    &.three {
      @media (min-width: 750px) {
        width: 33.33%;
        float: right;
      }
    }
  }
}

dialog.desc {
  width: 60vw;
  min-height: 60vh;
  max-height: 100vh;
  button {
    position: absolute;
    right: 14px;
  }
}

.mdl-card {
  padding-bottom: 50px;
  margin: 0 5px;
  margin-bottom: 10px;
  padding-top: 50px;
  width: 275px;
  & :focus {
    outline: none;
  }

  .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }
  .mdl-chip__contact {
    margin: 0;
  }
  .extended {
    width: 50px;
  }
  hr {
    margin: 0 0;
  }
  .icon {
    i {
      @extend .md-48;
      width: 50px;
      height: 50px;
      padding: 1.5px;
      &:hover {
        border-radius: 100%;
        color: rgba(255, 255, 255, 1);
      }
    }
    button {
      & :hover {
        background-color: black;
      }
      background: rgba(243, 239, 239, 0);
      border-style: none;

    }
    position: absolute;

    top: 5px;

  }
}

.page-content {
  padding: 20px;

}

.mdl-layout__content {
  background: url("../images/linen.png");
}